VBox{	
	-fx-padding: 5;
}

VBox:hover{
	-fx-background-color: rgba(0,0,0,0.2);
}

#today{
	-fx-background-color: rgb(9, 84, 178);
	-fx-background-radius: 50%;
	-fx-background-insets: -6 -11 -6 -11;
	-fx-text-fill: #ffffff;
}