#container { 
	-fx-padding: 0 0 20 0;
}

HBox{
	-fx-spacing: 10;
}

#lNome {
	-fx-pref-width: 500;
	-fx-font-size: 20;
}

#btnEnviar{
	-fx-padding: 12 20;
	-fx-border-color: transparent;
	-fx-background-color: #304FFE;
	-fx-text-fill: white;
}

#btnEnviar:hover{
	-fx-background-color: #3D5AFE;
}

