#this{
	-fx-background-color: transparent;
}

Label{
	-fx-text-fill: white;
}

#card{
	-fx-background-color: #0336FF;
	-fx-background-radius: 7 0 0 7;
	-fx-padding: 5 50 5 10;
}

#titulo{
	-fx-font-weight: bold;
}