AnchorPane{
	-fx-background-image: url("../../images/abc.gif");
	-fx-background-repeat: no-repeat;
	-fx-background-color: #00796B;
	}

VBox{
	-fx-background-color: white;
	-fx-spacing: 10;
}

<<<<<<< HEAD
GridPane{
	-fx-background-color: white;
}

=======
>>>>>>> db
HBox{
	-fx-spacing: 10;
}

#lblEmail{
	-fx-graphic: url("../../images/round_email_black_24dp.png");
}

#lblPsw{
	-fx-graphic: url("../../images/round_vpn_key_black_24dp.png");
}

#lblNomeCadast{
	-fx-graphic: url("../../images/round_person_black_24dp.png");
}