#this{
	-fx-background-color: rgb(0, 0, 140);
	-fx-padding: 15 30 15 15;
}

HBox{
	-fx-spacing: 10;
}

Label{
	-fx-text-fill: white;
}

#logout{
	-fx-image: url("../../resources/images/logout.png");
}

#logout:hover{
	-fx-cursor: hand;
}

#email{
	-fx-cursor: hand;
}