#this{
	-fx-background-color: #e0e0e0;
}

#card{
	-fx-background-color: #021aee;
	-fx-padding: 10;
	-fx-background-radius: 3;
}

#card .label{
	-fx-text-fill: white;
	-fx-font-size: 14;
}

#titulo{
	-fx-font-weight: bold;
}
