#this{
	-fx-background-color: transparent;
} 


#reminder_card{
	-fx-background-color: #0D47A1;
	-fx-background-radius: 3 0 0 3;
	-fx-padding: 10;
}

#event_card{
	-fx-background-color: #660cdc;
	-fx-background-radius: 3 0 0 3;
	-fx-padding: 10;
}

#holiday_card{
	-fx-background-color: #006064;
	-fx-background-radius: 3 0 0 3;
	-fx-padding: 10;
}

#moon_card{
	-fx-background-color: #03073B;
	-fx-background-radius: 3 0 0 3;
	-fx-padding: 10;
}

#task_card{
	-fx-background-color: #8C3926;
	-fx-background-radius: 3 0 0 3;
	-fx-padding: 10;
}

#titulo{
	-fx-text-fill: white;
	-fx-font-size: 14;
	-fx-font-weight: bold;
}

#titulo_black{
	-fx-text-fill: black;
	-fx-font-size: 14;
	-fx-font-weight: bold;
}

#above_info{
    -fx-text-fill: rgba(255,255,255,0.5);
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

#above_info_dark{
    -fx-text-fill: rgba(0,0,0,0.5);
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

#edit {
	-fx-image: url("../../resources/images/more.png");
	-fx-padding: 50;
}

#edit:hover{
	-fx-cursor: hand;
}

#moon-1{
	-fx-image: url("../../resources/images/moon/moon-1.png");
}
#moon-2{
	-fx-image: url("../../resources/images/moon/moon-2.png");
}
#moon-3{
	-fx-image: url("../../resources/images/moon/moon-3.png");
}
#moon-4{
	-fx-image: url("../../resources/images/moon/moon-4.png");
}