#date_item{	
	-fx-padding: 5;
}

#date_item:hover{
	-fx-background-color: rgba(0,0,0,0.2);
}



#other_month{
	-fx-text-fill: rgba(0,0,0,0.3);
}

#day_week{
	-fx-background-color: #00796B;
	-fx-background-insets: 0 -3 0 0;
	-fx-padding: 4;
	-fx-text-fill: #FFFFFF;
}

#today_week{
	-fx-text-fill: rgba(9, 84, 178, 0.8);
	-fx-font-size: 15pt;
}

#this{
	-fx-background-color: rgba(0,0,0,0.05)
}