#this{
	/* #DEDEDE */
	-fx-background-color: #DEDEDE;
}

#header{
	-fx-background-color: #009688;
	-fx-padding: 20 20 20 10;
}

#header Label{
	-fx-text-fill: white;
}

#content{
	-fx-background-color: transparent;
}

#list{
	-fx-background-color: transparent;
}

#day_week{
	-fx-background-color: #00796B;
	-fx-padding: 4 4 4 10;
}

#day_week Label{
	-fx-text-fill: #FFFFFF;
}