#this{
	-fx-background-color: #3949AB;
	-fx-padding: 15 30 15 15;
}

HBox{
	-fx-spacing: 10;
}

Label{
	-fx-text-fill: white;
}

#logout{
	-fx-image: url("../../resources/images/logout.png");
}
#config{  
	-fx-image:url("../../resources/images/config.png");
}
#logout:hover{
	-fx-cursor: hand;
}

#email{
	-fx-cursor: hand;
}