#this{
	-fx-background-color: #3949AB;
}

.toggle-button {
	-fx-background-color: #3949AB;
	-fx-background-radius: 0 20 20 0;
	-fx-font-size: 15;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.toggle-button:selected {
	-fx-background-color: rgba(0, 0, 0, 0.15);
}

.button {
	-fx-background-color: rgba(0, 0, 0, 0.15);
	-fx-background-radius: 20 20 20 20;
	-fx-font-size: 15;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.button:hover {
	-fx-background-color: rgba(0, 0, 0, 0.3);
}

.label {
	-fx-font-size: 15;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.separator {
	-fx-padding: 10;
}

HBox{
	-fx-spacing: 10;
}

Label{
	-fx-text-fill: white;
}

#lbl_projects {
	-fx-padding: 10;
	-fx-opacity: 0.5;
}

#btn_calendar {
	-fx-graphic: url("../../resources/images/round_calendar_today_white_24dp.png");
}

#btn_goals {
	-fx-graphic: url("../../resources/images/round_outlined_flag_white_24dp.png");
}

#btn_notifications {
	-fx-graphic: url("../../resources/images/round_notifications_white_24dp.png");
}

#btn_notifications:hover{
	-fx-cursor: hand;
}

#logout{
	-fx-image: url("../../resources/images/logout.png");
}

#config{  
	-fx-image:url("../../resources/images/config.png");
}

#logout:hover{
	-fx-cursor: hand;
}

#email{
	-fx-cursor: hand;
}