.root{
    -fx-padding: 20 20 0 20;
    -fx-spacing: 10;
    -fx-background-color: #FFFFFF;
}

.date-picker{
    -fx-focus-color: #5E35B1;
    -fx-faint-focus-color: transparent;
}

.text-input{
    -fx-focus-color: #5E35B1;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: darkgray;
    -fx-padding: 6px;
}

.text-input, .text-input:focused { 
    -fx-prompt-text-fill:darkgray;
}

.text-area{
    -fx-padding: 0;
}

.text-area .content{
    -fx-padding: 6px;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;
    -fx-border-width:3px;
}

.check-box:selected .mark {
    -fx-background-color: white;
    -fx-shape: "M75 200 L200 300 L400 20 L370 0 L190 240 L100 170 Z";
}

.check-box:selected .box {
    -fx-background-color: #5E35B1;
    -fx-border-color: #5E35B1;
}

#title{
    -fx-font-size: 25px;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#title .content{
    -fx-background-color: transparent;
}

#img_date{
    -fx-graphic: url("../../resources/images/round_calendar_today_black_24dp.png");
    -fx-opacity: 0.5;
}

#img_schedule{
	-fx-graphic: url("../../resources/images/round_schedule_black_24dp.png");
    -fx-opacity: 0.5;
}
